.box{
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background-color: blue;
    margin-bottom: 50px;
}

.circle{
    margin-top: 20px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: red;
}
.heart{
    background-color: black;
    height: 200px;
    width: 200px;
}

.black{
    background-color: black;
    width: 100px;
    height: 100px;
}
.active{
    background-color: grey; 
}

.circle-active{
    background-color: purple;
}